<ion-header>
  <ion-navbar>
    <!-- <ion-buttons right>
      <button ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>ลืมรหัสผ่าน</ion-title>
  </ion-navbar>
  <!-- <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <ion-slides *ngIf="headers && headers.length" pager="true" autoplay="5000" loop="true" speed="500">
          <ion-slide *ngFor="let header of headers" [ngStyle]="{'background-image': 'url(' + header.img1 + ')'}">
            <img class="img-footer-slides" [src]="header.img1" />
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-header>

<ion-content padding has-header>
  <ion-grid>
    <ion-row no-margin no-padding>
      <ion-col col-12>
        <ion-label stacked>กรุณาใส่อีเมล์ที่ต้องการเปลี่ยนรหัสผ่าน</ion-label>
        <ion-input type="text" class="form-control" placeholder="อีเมล์ของท่านที่ใช้ลงทะเบียน" [(ngModel)]="email"></ion-input>
      </ion-col>
      <ion-col col-12 text-center padding-top>
        <h6>ระบบจะส่งรหัสใหม่ของท่าน ไปยังหมายเลขโทรศัพท์ของท่านที่ใช้ลงทะเบียน</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button button-register round (click)="goLogin()" style="width: 100%">ยกเลิก</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button button-register round style="width: 100%" (click)="sendForgetPassword()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer>
  <ion-slides *ngIf="banners && banners.length" pager="true" autoplay="5000" loop="true" speed="500">
    <ion-slide *ngFor="let banner of banners" [ngStyle]="{'background-image': 'url(' + banner.img1 + ')'}">
      <img class="img-footer-slides" [src]="banner.img1" />
    </ion-slide>
  </ion-slides>
</ion-footer> -->