page-main-menu {

    .button-menu, .button-menu :active {
        color: theme-colors('textColors', 'accent-first') !important;
        padding-right: 10px !important;
        margin: 0px !important;
        background: transparent;
        border: none;
        ion-icon {
            padding: 0px !important;
            margin: 0px !important;
            font-size: font-size-text('txt-icon') !important;
       }
   }
    .collection {
        display: table;
        position: fixed;
        bottom: 0px;
        width:100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);
        .collection-collapse {
            display: table-cell;
            vertical-align: middle;
            height: 100px;
       }
        .collection-expand {
            display: table-cell;
            vertical-align: middle;
            height: 400px;
       }
   }
   /* ========================================== */
    .containerx div.desk, .containerx div.mob{
       /* position: relative;
        width: 100%;
        background: #f05a28;
        height: 50px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
        */
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);
   }
    div.desk ul li:hover, div.mob ul li:hover{
        // background: #f7931e;
   }
    div.desk ul li.active, div.mob ul li.active{
        // background: #f7931e;
   }
    div ul li a {
        color: #fff;
        text-decoration: none;
   }
    div.desk {
        display: none;
   }
    div.mob, .hamburger-btn {
        //display: block;
        height: 80px;
        width: 100%;
        display: table;
        .ionic-descript1 {
            width: 20%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            //padding-left: 10px;
            border-right: 1px solid theme-colors('textColors', 'accent-first') !important;
       }
       .ionic-descript2 {
        width: 80%;
        //background: #f7931e;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
   }
   }
    .hamburger-btn {
        //position: relative;
   }
    .hamburger-btn .fa-angle-double-down , .hamburger-btn .fa-angle-double-up {
        //position: absolute;
        //left: 10px;
        //right: 15px;
        //font-size: 30px;
        //cursor: pointer;
        color: theme-colors('textColors', 'angle-double');
        font-size: font-size-text('txt-angle');
   }
    .mob ul{
        // background: #f05a28;
        display: none;
   }
    .mob li {
        //text-align: center;
        //padding: 15px;
        text-transform: uppercase;
        cursor: pointer;
   }
    .mob ul.active {
        display: block;
   }
    .title-h {
        color: #fff;
   }
   /* ========================================== */
}
